<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Base</h1>
    <nav>
    <ul>
        {% if user.is_authenticated %}
            <p>Hola, {{ user.username }} 👋</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
        {% else %}

            <li><a href="{% url 'login' %}">iniciar sesion</a></li>

            <li><a href="{% url 'signup' %}">Registrarse</a></li>
        {% endif %}
    </ul>
    </nav>

    <hr>

    {% block content %}

    {% endblock %}
</body>
</html>